.women-container {
     padding: 1px;
     /* width: 0%; */
}

.women-container > div {
     margin-top: 200px;
     /* border: 1px solid;
     width: 90%;

     margin: 200px auto; */
}

.women-container > div > h1 {
     margin-bottom: 30px;
     font-family: Roboto;

     width: 84%;
     margin: 20px auto;
     /* text-align: center; */
}
@media screen and (max-width: 540px) {
     .women-container > div {
          margin-top: 120px;
          padding: 5px;
     }
     .women-container > h1 {
          padding-left: 7vw;
          font-size: 6vw;
          margin-bottom: 30px;
          font-family: Roboto;
     }
}
