.single-product-container {
     /* position: absolute; */
     padding: 30px;
     overflow: hidden;
     /* width: 85vw; */
     /* height: 100%; */
}

.single-product-container > div {
     margin-top: 120px;
     width: 100%;
     display: flex;
     gap: 50px;
}
.single-product-container > div > img {
     /* height: 100%; */
     width: 50%;
}
.single-product-container > div > div {
     display: flex;
     flex-direction: column;
     gap: 10px;
}
.single-product-container > div > div > h1 {
     font-size: 2.5vw;
     inline-size: 80%;
     font-family: Roboto;
}

.quantity-container {
     display: flex;
     align-items: center;
     gap: 20px;
}
.quantity-container p {
     font-size: 1vw;
     font-weight: 700;
     font-family: Roboto;
}
.quantity-container > div {
     border: 0.5px solid #cecece;
     padding: 10px;
     border-radius: 5px;
     width: 100px;
     display: flex;
     font-weight: 700;
     box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
          rgb(209, 213, 219) 0px 0px 0px 1px;
     justify-content: space-between;
     gap: 10px;
     align-items: baseline;
     font-family: Roboto;
     font-size: 1vw;
}
.quantity-container > div > span {
     cursor: pointer;
     /* font-size: 2vw; */
}

.color-container {
     display: flex;
     gap: 10px;
     flex-direction: column;
}
.color-container > div {
     display: flex;
     gap: 10px;
}

.color-container > p {
     font-size: 1.5vw;
     font-weight: 700;
     font-family: Roboto;
}
.color-container > div > span:nth-of-type(1) {
     background-color: yellow;
     padding: 20px;
     width: 1.5vw;
     height: 1.5vw;

     border-radius: 100%;
}
.color-container > div > span:nth-of-type(2) {
     background-color: blue;
     padding: 20px;
     border-radius: 100%;
     width: 1.5vw;
     height: 1.5vw;
}
.color-container > div > span:nth-of-type(3) {
     background-color: red;
     padding: 20px;
     border-radius: 100%;
     width: 1.5vw;
     height: 1.5vw;
}
.color-container > div > span:nth-of-type(4) {
     background-color: #000;
     padding: 20px;
     width: 1.5vw;
     height: 1.5vw;
     border-radius: 100%;
}

.shoe-size-container {
     display: grid;
     gap: 10px;
}

.shoe-size-container p {
     font-size: 120%;
     font-weight: 700;
     font-family: Roboto;
}
.shoe-size-container > div {
     display: grid;

     grid-template-columns: 1fr 1fr 1fr;
     gap: 10px;
     width: 40%;
}
.shoe-size-container > div > span {
     border: 2px solid #cecece;
     text-align: center;
     font-family: Roboto;
     font-weight: 700;
     font-size: 1vw;
     border-radius: 7px;
     padding: 5px 10px;
     cursor: pointer;
}

.add-to-cart-container > button {
     font-size: 1vw;
     padding: 10px 40px;
     background: rgba(169, 125, 60, 1);
     border: none;
     color: #fff;
     border-radius: 5px;
     cursor: pointer;
}

.description-container {
     display: flex;
     margin-top: 20px;
     /* margin: 20px; */
     /* flex-direction: column; */
     /* justify-content: space-evenly; */
     align-items: center;
}

.description-text-container:nth-of-type(1) {
     margin-right: 70px;
}
.description-text-container > div {
     /* border: 1px solid; */
     width: 100%;
     padding: 2px 50px;
     background: rgba(159, 65, 150, 1);
}
.description-text-container:nth-of-type(2) > div {
     /* border: 1px solid; */
     background: rgba(255, 255, 255, 1);
}
.description-text-container > p {
     font-family: Roboto;
     font-weight: 700;
     font-size: 1vw;
}
.about-shoe-container > div {
     margin-top: 50px;
     background-color: #fff;
     width: 80%;
     padding: 50px;
     display: flex;
}
.about-shoe-container > div > p {
     font-family: Roboto;
     inline-size: 80%;
     font-size: 1.2vw;
}

.single-product-other-container {
     display: flex;
     margin-top: 50px;

     overflow: auto;
     padding: 10px;
     margin: 0 auto;
     justify-content: center;
     width: 90% !important;
     /* height: 30px; */
}
.single-product-other-container > div {
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     border-radius: 7px;
     /* height: 350px; */
     position: relative;
}

.single-product-other-container > div > a i {
     right: 0;
     padding: 10px;
     z-index: 999;
     position: absolute;
}
.single-product-other-container > div > button {
     background: rgba(169, 125, 60, 1);
     padding: 0.6vw 2vw;
     border: none;
     font-size: 0.8vw;
     border-radius: 7px;
     color: #fff;
     font-family: roboto;
     display: table;
     margin: 0 auto;
     margin-bottom: 20px;
     cursor: pointer;
}
/*



*/
.single-product-other-container::-webkit-scrollbar {
     display: none;
}

@media screen and (max-width: 540px) {
     .single-product-container {
          /* width: 80%; */
          overflow: hidden;
          /* border: 100px solid; */
     }

     .single-product-container > div > div > h1 {
          display: flex;
          font-size: 5vw;
     }

     .description-text-container > p {
          font-size: 4vw;
     }

     .about-shoe-container > div > p {
          font-size: 4vw;
     }

     .add-to-cart-container > button {
          font-size: 3vw;
          padding: 10px 40px;
          background: rgba(169, 125, 60, 1);
          border: none;
          color: #fff;
          border-radius: 5px;
     }
     .single-product-container > div > div {
          display: flex;
          gap: 20px;
     }
     .single-product-container > div > img {
          width: 100%;
     }
     .single-product-container > div {
          flex-direction: column;
          align-items: center;
          gap: 10px;
     }

     .quantity-container > div {
          border: 0.5px solid #cecece;
          padding: 10px;
          border-radius: 5px;
          width: 100px;
     }

     .quantity-container p {
          font-size: 100%;
     }
     .shoe-size-container {
          display: flex;
          align-items: center;
     }
     .shoe-size-container > div {
          flex-wrap: wrap;
          display: flex;
          width: 100%;
     }
     .color-container > p {
          font-size: 100%;
     }

     .shoe-size-container p {
          font-size: 100%;
     }
     .color-container {
          flex-direction: row;
          align-items: center;
     }

     .quantity-container > div {
          font-weight: 700;
          font-size: 80%;
     }

     .color-container {
          flex-direction: row;
     }
     .color-container > div > span:nth-of-type(1) {
          background-color: yellow;
          padding: 15px;
          border-radius: 60%;
     }
     .color-container > div > span:nth-of-type(2) {
          background-color: blue;
          padding: 15px;
          border-radius: 60%;
     }
     .color-container > div > span:nth-of-type(3) {
          background-color: red;
          padding: 15px;
          border-radius: 60%;
     }
     .color-container > div > span:nth-of-type(4) {
          background-color: #000;
          padding: 15px;
          border-radius: 60%;
     }

     .shoe-size-container > div > span {
          font-size: 3.5vw;
     }

     .description-container {
          gap: 10px;
          flex-direction: row !important;
          justify-content: space-between;
     }

     .description-text-container {
          gap: 0;
     }
     .description-text-container > div {
          width: 0%;
     }

     .product-container > a > div img {
          width: 100%;
     }
     .description-text-container > p {
          text-align: center;
     }

     .description-text-container:nth-of-type(1) {
          margin-right: 10px;
     }

     .single-product-other-container {
          display: flex !important;
          flex-direction: row !important;
          flex-wrap: wrap;
          /* width: 100% !important; */
          overflow: visible;
     }

     .single-product-other-container > div {
          display: flex;
          width: 47%;
     }
     .single-product-other-container > div > a {
          display: flex;
          flex-direction: column;
          width: 100%;
          /* border: 1px solid; */
     }
     .single-product-other-container > div > button {
          font-size: 3vw;
          padding: 10px;
          border-radius: 10px;
     }
     .single-product-other-container > a > div > div > p {
          text-align: center;
          inline-size: 90%;
     }
     .single-product-other-container > a > div > img {
          text-align: center;

          width: 100%;
     }
}
